body {
  margin: 0;
  min-height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgba(140, 76, 180, 0.842);
  background: -moz-linear-gradient(143deg, rgb(126, 80, 155) 0%, rgb(69, 143, 135) 60%, rgb(15, 39, 33) 100%);
  background: -webkit-linear-gradient(143deg, rgb(126, 80, 155) 0%, rgb(69, 143, 135) 60%, rgb(15, 39, 33) 100%);
  background: linear-gradient(143deg, rgb(126, 80, 155) 0%, rgb(69, 143, 135) 60%, rgb(15, 39, 33) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#9f3eda",endColorstr="#45fcd2",GradientType=1);
}

.add-apt, .apt-info {
  background: rgba( 255, 255, 255, 0.45 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 4.0px );
  -webkit-backdrop-filter: blur( 4.0px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}

h1 {
  color: #fff;
}

.list-group-item:first-child {
  border-radius: 10px;
}

.btn__add, .btn__sort {
  background-color:rgb(16, 128, 128);
  border-color: transparent;
  box-shadow: none;
  outline: none;
}
.btn__add:active, .btn__add:focus, .btn__add:active:focus,
.btn__sort:active, .btn__sort:focus, .btn__sort:active:focus {
  background-color:rgb(16, 128, 128);
  border-color: rgb(16, 128, 128);
  box-shadow: none;
  outline: none;
}